*{
    margin: 0;
    padding: 0;
}

.Ali-main{
    display: flex;
    justify-content: center;
    padding: 90px 0px 170px;
}
.Ali-center{
    width: 80%;
}
.Ali-main2{
    display: flex;
    justify-content: space-between;

}
.ali-left{
position: relative;
}
.A-IMG{
position: absolute;
top: 370px;
right: 350px;
z-index: -1 ;
}
.a-buttt{
    text-align: center;
    position: absolute;
    top:370px;
    left: 330px;
    width: 150px;
    height: 140px;
    background-color: rgb(240, 243, 243);
    }
.ali-right{

}
.ali-right h1{
    font-weight: 600;
font-size: 36px;
line-height: 48px;


color: #18216D;
}
.ali-right p{
    font-weight: 400;
font-size: 16px;
line-height: 30px;
padding: 15px 0px 10px;

color: #18216D;
}
.ali-rr{
    display: flex;
    padding: 20px 0px 15px;
}
.ali-rr p{
    font-weight: 500;
font-size: 18px;
line-height: 18px;
color: #18216D;
}
.ali-rr img{
    padding-top: 15px;
    padding-right: 10px;
    /* align-items: center; */
    width: 4%;
    height: 20px;

}
.a-buttt{
    text-align: center;
    position:absolute;
    z-index: 1;
}
.a-buttt h3{
    font-weight: 500;
font-size: 18px;
line-height: 26px;
padding: 15px 0px 10px;

color: #18216D;
}
.a-buttt button{
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 16px;
    border: none;
    background-color: rgb(13, 66, 49);
    color: rgb(228, 228, 228);
    cursor: pointer;
}
.a-buttt button:hover{
    background-color: lawngreen;
    color: blueviolet;
}
.Ali-main3{
    display: flex;
    justify-content: center;
}
.Aplan{
    font-weight: 600;
font-size: 48px;
text-align: center;
letter-spacing: -1px;
text-transform: capitalize;
color: #18216D;
}
.Apppppp{
    font-weight: 400;
font-size: 16px;
line-height: 30px;
text-align: center;
padding: 15px 0px;
color: #18216D;
}
.Ali-main3 h1,p{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.Ali-bas{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}
.Alldi{

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
 
}
.Ali-2but{
    padding: 5px 5px;
    background-color: rgb(215, 220, 250);
    align-items: center;
    text-align: center;
    justify-content: center;
    opacity: 0.9;
border-radius: 6px;
}
.Ali-2but button{
    padding: 10px 25px;
    background-color:  rgb(215, 220, 250);
    border: none;
    color: #18216D;
    font-weight: 500;
font-size: 17px;
line-height: 17px;
}
.Ali-2but button:hover{
    background-color: rgb(255, 255, 255);
    color: #005FEC;
}
.Ali-basic{
    width: 25%;
    border: 1.5px solid rgb(175, 170, 170);
    padding: 25px 25px 0px 0px; 
    border-radius: 2%;
}
.a-HH2{
    padding: 0px 0px 40px;
    border-bottom: 1.5px solid #a19c9c;
    width: 110%;
}
.a-HH2 h3{
    font-weight: 600;
font-size: 24px;
color: #18216D;
padding: 0px 0px 0px 30px;
}
.a-HH2 span{
    color: #a19c9c;
}
.a-HH2 h2{
    font-weight: 600;
font-size: 36px;
line-height: 48px;
padding: 2px 0px 0px 30px;

color: #18216D;
}
.Ali-gal{
    display: flex;
    padding: 8px;
    cursor: pointer;
}
.Ali-gal h1{
    padding-top: 20px;
}
.Ali-gal p{
    font-weight: 400;
font-size: 17px;
color: #18216D;

}
.Ali-gal p:hover{
    color: #a19c9c;
}
.Ali-gal img{
    padding-right: 10px;
    padding-left: 20px;

}
.abutt{
    padding: 15px 0px 25px 30px;
    
}
.abutt button{
    cursor: pointer;
    padding: 10px 30px ;
    border: none;
    background: #005FEC;
    opacity: 0.7;
    font-weight: 600;
    font-size: 14px;
    border-radius: 6px;
    color: #000000;;
}
.abutt button:hover{
    background: #020299;
    color: white;
    border-radius: 6px;
}

.shahrom-pictures{
    background: #FAFAFA;
}
.shahrom-left-right{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.shahrom-left h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: #18216D;

}
.sh-many{
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    color: #18216D;
    opacity: 0.9;
}
.Manager{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #18216D;
    opacity: 0.6;
}
.shahrom-center{
    width: 80%;
    margin: auto;
}
.sh-sh{
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #18216D;
    margin-top: 15px;
}

.shglavni{
    padding-top:80px ;
    display: flex;
   justify-content: space-between;
}
.sh-we{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 15px 0px;
    color: #18216D;
    opacity: 0.9;
}
.sh-ul ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #18216D;
    opacity: 0.8;
    padding: 10px;
}
.sh-ul ul li{
    list-style:none ;
}
.sh-ul ul li a:hover{
   background-color:grey;
   border-radius: 10px  ;
}
.sh-ul ul li{
    list-style:none ;
}
.sh3 h1{
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #18216D;
    padding: 10px;
}
.sh123 ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #18216D;
    opacity: 0.8;
    
}
.sh123 ul li {
    list-style: none;
    
}
.sh123 ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #18216D;
    opacity: 0.8;
    
}
.shsh1{
    opacity: 0.1;
    border: 2px solid #18216D;   
    margin-top: 50px;
    margin-bottom: 50px;
}

.shsh55{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #18216D;
    opacity: 0.8;
    text-align: center;
    padding-bottom: 50px;
}


.NHcontainer{
    width: 100%;
}
.NHcenter{
    margin: auto;
    width: 80%;
}
.NHhead{
    padding-top: 40px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 3%;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(7px);
}
.NHhead ul {
    display: flex;
    gap: 50px;
}
.NHhead ul li a{
    text-decoration: none;
    font-weight: 500;
font-size: 18px;
line-height: 20px;
color: #18216D;
}
.NHhead ul li {
    list-style-type: none;
}
.NHbut{
    display: flex;
    gap: 45px;
}
.NHbut p{
    padding-top: 15px;
    font-weight: 500;
    font-size: 18px;
    color: #18216D;
}

.NHbut button{
    padding: 16px 27px;
    background: #18216D;
    border: none;
border-radius: 6px;
color: aliceblue;
cursor: pointer;
}
.NHhead ul li a:hover{
    background-color: aqua;
    border: none;
    border-radius: 5px;
    padding: 4px;
    transition: 0.7s ease;
    color: red;
}
.NHbut button:hover{
    background-color: gray;
    color: black;
    transition: 0.7s ease;
    font-weight: 900;
}
.NHbest{
    display: flex;
  
}
.NHonline {
    padding-top: 160px;
    width: 50%;
}
.NHonline h1{
    font-weight: 600;
font-size: 48px;
line-height: 60px;
color: #18216D;
}
.NHonline p{
    padding-top: 16px;
    font-weight: 400;
font-size: 17px;
line-height: 28px;
color: #18216D;
}
.NHfor{
    padding-top: 34px;
}
.NHfor button{
    background: aquamarine;
    padding: 23px 36px;
    color: #18216D;
    border: none;
    border-radius: 5px;

}
.NHfor button:hover{
    background-color: gray;
    transition: 0.7s ease;
    border-radius: 10px;
    cursor: pointer;
}
.NHright{
    width: 60%;
    padding-top: 100px;
}
.NHstartup{
    padding-top: 140px;
    display: flex;
    justify-content: space-between;
}
.NHuse p{
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    color: #18216D;    
}
.NHstartup h1{
    font-weight: 700;
font-size: 60px;
line-height: 70px;
letter-spacing: -1px;
color: #18216D;
}
.NHstartup img{
    padding-top: 10px;
}
#NHdown{
    padding-top: 10px;
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #18216D;
}
.NHair{
  padding-top: 56px;
}
.NHair{
    display: flex;
    gap: 90px;
}

.md-main{
    width: 100%;
}
.md-center{
    width: 80%;
    margin: auto;
}
.md-our{
    text-align: center;
}
.md-our h1{
    margin-top: 100px;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
letter-spacing: -1px;
text-transform: capitalize;
color: #18216D;
}
.md-our p{
   margin: auto;
    width: 500px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
text-align: center;
color: #18216D;
}
.md-pris{
    width: 30%;
}
.md-afor{
    display: flex;
    justify-content: space-between;
}
.md-pris img{
    margin: 20px 0px;
}
.md-pris h1{
    margin-bottom: 14px;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #18216D;
}
.md-pris h3{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #18216D;
}
.md-pris p{
margin: 10px 0px;  
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #18216D;
opacity: 0.6;
}
.md-pris a{
    text-decoration: none;
}
.md-integ{
    width: 100%;
    background-color: rgb(239, 247, 244);
    margin-top: 220px;
    
}
.md-next{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.md-with{
    width: 40%;
}
.md-with h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 48px;
margin-top: 143px;


color: #18216D;
}
.md-with p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #18216D;
margin: 20px 0px;
opacity: 0.8;
}
.md-pic{
    width: 50%;
}
.md-pic img{
    margin: 60px 0px;
    width: 100%;
}
.md-with button{
    padding: 10px 20px;
    background-color: #18216D;
    border-radius: 5px;
    color: white;
    border: none;

}
.md-with button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
  
    border: 1px solid  #18216D;
}

